
<div *ngIf = "logInIndicator"  class="container">
    <h2>Select a game from the list below</h2>
    <div class="list-group">
      <a  class="list-group-item" *ngFor = 'let games of listOfGames;let i = index' (click) = 'onSelectGame(i)'>{{games}}</a>
    </div>
  </div>
  <!-- <app-comd></app-comd> -->
  <div *ngIf = "!logInIndicator" class="container logIn">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 card">
         <h4 *ngIf = "!logInIndicator" class="card-body">Please LogIn  <button class="btn btn-info" routerLink = ''>Back to LogIn</button></h4>
        </div>
        <div class="col-sm-3"></div>
     </div>
</div>